@-webkit-keyframes scaleVertical {
  from {
    opacity: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; }
}

@keyframes scaleVertical {
  from {
    opacity: 0;
    -webkit-transform: scaleY(0);
    transform: scaleY(0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; }
}
.scaleVertical {
  -webkit-animation-name: scaleVertical;
  animation-name: scaleVertical;
}

@-webkit-keyframes rotatez {
  from {
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
    opacity: 0; }
  to {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
    opacity: 1; } }

@keyframes rotatez {
  from {
    -webkit-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
    opacity: 0; }
  to {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
    opacity: 1; } }

.rotatez {
  -webkit-animation-name: rotatez;
  animation-name: rotatez;}

  .p11_light1 {
    -webkit-transform-origin: 24.15% 38.04%;
    transform-origin: 24.15% 38.04%;
  }
  .p11_light2 {
    -webkit-transform-origin: 74.88% 57.07%;
    transform-origin: 74.88% 57.07%;
  }
  .p11_light3 {
    -webkit-transform-origin: 24.15% 78.8%;
    transform-origin: 24.15% 78.8%;
  }
